* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #86c8c7;
}
.container {
    background-color: #ffffff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
}
.container:hover {
    background-color: #ffffff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow:  5px -5px 0px #786cb0,
             -5px 5px 0px #e4ccff;
}
.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #07c1ff;
    font-size: 16px;
}
.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #ae9cff;
    border: none;
    font-size:20px;
    outline: none;
    color: #000000;
    border-radius: 5px;
    border-bottom:4px solid black;
}
.result {
    position: relative;
}
.result h3 {
    font-size: 30px;
    color: #1f194c;
}
.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result button {
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 18px;
}
.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning {
    color: #575a7b;
}
.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #2f00ff;
    padding-left: 20px;
    margin-top: 30px;
}
.error {
    margin-top: 80px;
    text-align: center;
}
.copyright {
position:absolute;
top: 90%;
left: 35%;
    font-size: 1.3rem;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  @media screen and (min-width: 400px) and (max-width: 700px){
    .copyright {
        position:absolute;
        top: 94%;
        left: 0%;
            font-size: 1.3rem;
            text-align: center;
            color: rgb(0, 0, 0);
          } 
  }


